@import url('https://fonts.googleapis.com/css?family=Lobster|Prata|Radley&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Asap&display=swap: 100,200,300,400,500,600,700');

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.row {
    justify-content: center;
}

/* ----------------------------------------Landing Page */


.topcontainer {
  flex-direction: column;
  text-align: right; 
  width: 80%;
  color:  rgb(0, 0, 0); 
  font-family: 'Prata', sans-serif;
  padding-top: 100px;
} 

@media (min-width: 768px) {
    .name {
        font-size: 80px;
        font-weight: 500;
        text-shadow: 1px 1px 2px;
        background-color: rgba(255, 255, 255, 0.192);
        width: 40%;
    }
    .title {
        font-size: 40px;
        text-shadow: 1px 1px 2px rgb(12, 12, 12);
        font-weight: 300;
        background-color: rgba(255, 255, 255, 0.192);
        width: 40%;
    }
}


.salonintro {
  justify-content: space-evenly;
  align-items:center;
  margin-top: 60%;
  height: 200px;
  background-color: rgb(240, 125, 144, 0.4);
  
}

@media (min-width: 768px) {
    .salonintro {
    height: 430px;
    margin-top: 27%;
    }
}

.salonpic {
    padding-right: 10px;

}


.salonpic img {
    width: 100%;
    border-radius: 50%;
    
}

.header-row {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

.landing-page {
    background-image: url("../images/kkV0LO4%20-%20Imgur.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1200px;
    min-height: 100%;
    
}

@media (min-width: 768px){
    .landing-page {
    height: 1865px;
    }
}

/* ---------------------------------Salon interior */
.about {
    height: 372px;
}

.salon-about {
    align-content: center;
}


.salon-interior {
    background-image: url("../images/salon1.png");
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    width: 100vw;
    min-height: 100%;
    background-attachment: fixed;
    margin: 0;
}

.about-link { 
  font-family: 'Asap', sans-serif;
    font-weight: 400;
    background-color: rgba(243, 241, 241, 0.2);
    margin-top: 30px;

}
    

.salon-description {
    font-family: 'Radley', sans-serif;
    background-color: rgba(248, 247, 247, 0.2);
    font-size: 26px;
    text-align: right;
    margin-right: 20px;  
}

/* -------------------------------Services */

#services{
     margin:0; 
}

.services {
    font-family: "Asap", sans-serif; 
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: rgba(128, 128, 128, 0.24);
    
}

.services h1{
    padding-left: 30px;
    font-weight: 400;
}

/* -------------------------------Carousel */

/* @media (min-width: 768px){
    .carousel-row{
    }
} */

.carousel-inner > .carousel-item > img { 
    height: 250px; 
    width: 600px;
    
   
}

@media (min-width: 768px){
    .services{ 
        height: 700px;
        width: 100vw;
        margin-bottom: 10px;
        }
    .carousel-inner > .carousel-item > img {
        height: 600px;
    }    
}

.carousel-caption {
    padding-top: 0;
    padding-bottom: 0;
    left: none;
}

.caption {
    font-size: 30px;
    color:  rgb(245, 87, 113);
    text-shadow:  1px 1px 4px rgb(5, 5, 5);
    height: 200px;
    width: 400px;
}

.haircut {
    list-style: none;
}

.onecaption {
    left: 5%;
}

.twocaption {
    height: 400px;
}

.threecaption {
    right: 15%;
}

.fourcaption {
    left: 54%;
}